{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ form.title or 'File Upload' }}</h1>
{% if lead is not none %}
        <p class="lead">{{ lead }}</p>
{%endif %}
{% if description is not none %}
        <p>{{ description }}</p>
{%endif %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.file.label }} {{ form.file() }}<br/>
{% if form.checkbox %}
            {{ form.checkbox.label }} {{ form.checkbox() }}<br/>
{%endif %}
            <input type="submit" value="{{ form.submit_val or 'Upload' }}" class="btn btn-primary">
        </form>
        </div>
    </div>
</div>
{% endblock %}
