{% extends 'admin/base.html' %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/funkfeuer.css', _external=True) }}" ></link>
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="navbar-text btn-group pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        {{ current_user.name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
{% if security.changeable %}
        <li><a href="{{ url_for('security.change_password') }}">Change password</a></li>
        <li><a href="/profile/">Profile</a></li>
{% endif %}
        <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
